[submodule "java-shared-dependencies"]
	path = java-shared-dependencies
	url = https://github.com/googleapis/java-shared-dependencies
[submodule "google-auth-library-java"]
	path = google-auth-library-java
	url = https://github.com/googleapis/google-auth-library-java
[submodule "java-core"]
	path = java-core
	url = https://github.com/googleapis/java-core
[submodule "java-accessapproval"]
	path = java-accessapproval
	url = https://github.com/googleapis/java-accessapproval
[submodule "java-bigquery"]
	path = java-bigquery
	url = https://github.com/googleapis/java-bigquery
	branch = 2.3.x
[submodule "java-iam-admin"]
	path = java-iam-admin
	url = https://github.com/googleapis/java-iam-admin
	branch = 1.0.x
[submodule "java-iamcredentials"]
	path = java-iamcredentials
	url = https://github.com/googleapis/java-iamcredentials
	branch = v2.0.6
